{% extends 'base.html' %}

{% block title %} Sign up {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                        <p class="text-center fs-1 fw-normal mt-3 text-white">Uniq check app</p>

                 
                            
                            <form method="post" class="p-5 mt-5 bg-light"  id="signup_form">
                                  
                              {% csrf_token %}
            
            
                             
                    <div class="form-group">

                        <div class="d-flex mb-3">

                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor"
                                class="bi bi-person-circle c_icon mx-2" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            <input type="text"  class="form-control" id="id_username" name="username"
                                placeholder="Enter Username">

                        </div>
                        <div class="error-container mx-5 mb-2" id="username-error"></div> 

                    </div>


                    <div class="form-group">

                        <div class="d-flex mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor"
                                class="bi bi-lock c_icon mx-2" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                            </svg>
                            <input type="email"  class="form-control" id="id_email" name="email"
                                placeholder="Enter Email">
                        </div>
                        <div class="error-container mx-5 mb-2" id="email-error"></div> 
                    </div>



                    <div class="form-group">

                        <div class="d-flex mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor"
                                class="bi bi-lock c_icon mx-2" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                            </svg>
                            <input type="number"  class="form-control" id="id_phone" name="phone"
                                placeholder="Enter Phone">

                        </div>
                        <div class="error-container mx-5 mb-2" id="phone-error"></div> 
                    </div>
                    
                    <button type="submit" class="btn btn-danger ml-5">Create User</button>
                                </form>
                            </div>
                           
                        
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="d-flex justify-content-center">
        {% if form.errors %}
        <div class="error-container mx-5 mb-2">
            {% for field_name, error_list in form.errors.items %}
                {% for error in error_list %}
                    <p class="error-message text-danger">{{ field_name|title }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

</div> -->




{% endblock %}
   